.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.products li {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  background: #111;
  gap: 1rem;
  padding: 1rem;
  color: teal;
  border-radius: 15px;
}

.products h3 {
  margin: 0;
}

.products span {
  font-size: 1rem;
  opacity: 0.9;
}

.products img {
  border-radius: 15px;
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  object-fit: cover;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.1);
}

.contentButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contentButton button {
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.1);
}

